body{
  
  height: 600px; 
 background-color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.top{
  width:400px;
 height:350px;
 display: grid;
 grid-template-columns:100px 100px 100px 100px ;
 grid-template-rows: 50px 50px 50px 50px 50px  ;
  row-gap: 20px;
  column-gap: 20px;
  
  
  
}
.ans{
 
  font-size: 30px;
  outline:none;
  padding:30px;
  border:black;
  color:white;
  border-radius: 5px;
  /* line-height: 30px; */
  width: 400px;
  background-color: black;
  
}
.outside{
  border: solid 1px black;
  background-color: black;
  border-radius: 10px;
 
}
.sky{
  background-color: aqua;
  border-radius: 20px;
  font-size: 20px;
 
 
  
}

.sky:hover{
  background-color: yellow;
}
.all{
  background-color: navy;
  color: white;
  font-size: 20px;
  border-radius: 20px;
}
.all:hover{
  background-color: darkorange;
}